/* src/components/ImageCarousel.css */
.image-carousel-container {
    position: relative;
    width: 90%;
    max-width: 840px; /* Alinha com a largura do seu card */
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border: solid 5px;
    border-color: black;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;
    
  }
  
  .carousel-caption p {
    margin: 0;
    font-size: 1.2em;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: yellow;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }