.missions-card {
    background-color: black;
    color: white;
    padding: 30px;

    /* max-width: 800px;*/    
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    /* margin: 40px auto; /* Centraliza o card e adiciona espaço */
    }
    
    .missions-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Arredonda apenas os cantos superiores */
    margin-bottom: 20px;
    object-fit: cover;
    max-width: 600px;
    max-height: 600px; /* Defina uma altura máxima para a imagem */
    }
    
    .missions-title {
    color: yellow;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
    .missions-scripture {
    font-style: italic;
    color: #ccc;
    margin-bottom: 20px;
    }
    
    .missions-text {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
    }