/* src/components/TopBanner.css */
.top-banner {
   
    padding-top: 70px; /* altura do Header */
    background-color: black;
    z-index: 950; /* abaixo do Header, mas acima do conteúdo */    
  }
  
  .banner-img {
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 30vw;
  }
  